<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form" (ngSubmit)="submit(model)">
    <formly-form [model]="model" [fields]="fields">
      <button type="submit">Submit</button>
    </formly-form>
  </form>

  {{ model|json }}
</ion-content>
